* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: #000;
  color: #a0a0a0;
  line-height: 1.6;
  font-family: "Montserrat";
}

/* Sidebar */
.container {
  max-width: 1050px;
  display: flex;
  background: #000;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;
}

.sidebar {
  background: #1e1e1e;
  max-width: 250px;
  border-radius: 12px;
  min-height: fit-content;
  position: fixed;
  left: 17.5%;
  padding: 30px;
  border: 1px solid #3a3a3a;
}

/* Profile */
.profile {
  text-align: center;
}

.profile img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: 1px solid #eac44f;
  object-fit: cover;
  object-position: top;
}

.profile h2 {
  color: #a0a0a0;
  font-size: 1rem;
  margin-top: 5px;
  font-weight: 500;
}

.profile p {
  color: #ffbf00;
  font-size: 0.75rem;
  font-weight: 400;
  background-color: #000;
  padding: 7px 30px;
  border: 2px solid #000;
  border-radius: 10px;
  display: inline-block;
  margin-top: 5px;
}

.profile p:hover {
  /* text-shadow: 1px 1px 1px #FF0000; */
  border: 1px solid #757474;
}

.contact {
  border-top: 1.5px solid #3a3a3a;
  padding: 10px 0;
  margin: 20px 0 10px 0;
}

.label {
  color: #a0a0a0;
  font-size: 10px;
  margin-top: 5px;
  font-weight: 300;
}

.value {
  color: #e0e0e0;
  font-size: 10px;
  font-weight: 400;
}

.value:hover {
  transform: scale(1.05);
}

.contact a {
  text-decoration: none;
  display: inline-block;
}

.social {
  border-top: 1.5px solid #3a3a3a;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.social img {
  height: 20px;
  width: 25px;
  filter: brightness(0) saturate(100%) invert(79%) sepia(5%) saturate(15%)
    hue-rotate(340deg) brightness(81%) contrast(89%);
}

.social a:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(85%) sepia(51%) saturate(1290%)
    hue-rotate(1deg) brightness(104%) contrast(95%);
}

/* Main-content */
.main-content {
  background: #1e1e1e;
  width: 60%;
  border-radius: 12px;
  position: relative;
  left: 16%;
  padding: 30px;
  min-height: 80vh;
  border: 1px solid #3a3a3a;
}

/* navbar */

#nav-bar {
  border-bottom: 1.5px solid #3a3a3a;
  padding-bottom: 10px;
}

#nav-bar nav {
  display: flex;
  justify-content: end;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
}

nav a:hover {
  color: #ffbf00;
}

/* About */

.heading {
  color: #e0e0e0;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 25px 0 10px 0;
}

#about p {
  color: #a0a0a0;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.underline {
  height: 2px;
  width: 50px;
  background-color: #ffbf00;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.heading:hover + .underline {
  width: 100px;
}

/* Skills */

#skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

#skills li {
  height: 8vw;
  width: 8vw;
  background-color: #000;
  color: #e0e0e0;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

#skills li img {
  height: 3.5vw;
  width: 3.5vw;
  filter: brightness(0) saturate(100%) invert(85%) sepia(51%) saturate(1290%)
    hue-rotate(1deg) brightness(104%) contrast(95%);
  margin-bottom: 3px;
}

#skills li:hover {
  transform: scale(1.08);
  border: 1px solid #fff;
}

/* Education */
#education {
  position: relative;
  margin-bottom: 30px;
}
.edu {
  margin-left: 30px;
}

.timeline {
  position: absolute;
  left: 10px;
  top: 10;
  height: 75%;
  width: 2px;
  background-color: #3a3a3a;
}
.circle {
  position: absolute;
  left: 4px;
  height: 15px;
  width: 15px;
  top: 10;
  border-radius: 50%;
  border: 4px solid #ffbf00;
  background-color: #1e1e1e;
}

.circle:hover {
  transform: scale(1.2);
}

.edu p {
  color: #a0a0a0;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.edu h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.edufirst {
  margin-bottom: 30px;
}

.edu p:nth-child(5) {
  color: #ffbf00;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.grade {
  transition: all 0.3s ease-in-out;
}

.grade:hover {
  transform: scale(1.03);
}

/* Connect */

#connect {
  position: relative;
  background: #000;
  padding: 0 30px 0 30px;
  border-radius: 10px;
  /* border: 0.5px solid #8d6d0e; */
}

.touch {
  color: #e0e0e0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  /* border-top: 1.5px solid #3a3a3a; */
}

.line {
  height: 2px;
  width: 150px;
  background-color: #ffbf00;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16%;
  transition: all 0.5s ease-in-out;
}

.touch:hover + .line {
  width: 250px;
}

form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form div input {
  margin: 10px 0 10px 0;
}

input {
  width: 100%;
  padding: 10px 18px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 5px;
  color: #ffbf00;
  font-size: 1rem;
}

input::placeholder {
  font-size: 0.85rem;
}

form textarea {
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 18px;
  color: #ffbf00;
  font-size: 1rem;
}

textarea::placeholder {
  font-size: 0.85rem;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #ffbf00;
  border: none;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

form button:hover {
  background: #000;
  color: #ffbf00;
  cursor: pointer;
  border: 1px solid #fff;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .sidebar {
    left: 10%;
  }

  .main-content {
    left: 15%;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    left: 8%;
  }

  .main-content {
    left: 15%;
  }
}

@media screen and (max-width: 945px) {
    .sidebar {
      left: 5%;
    }
  
    .main-content {
      left: 15%;
    }
}

@media screen and (max-width: ) {
    
}

@media (max-width: 768px) {

.container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    position: static;
    width: 90%;
    max-width: none;
    left: auto;
    min-height: auto;
  }

  .main-content {
    position: static;
    width: 90%;
    left: auto;
    min-height: auto;
  }

  .profile img {
    width: 30vw;
    height: 30vw;
  }
.profile h2 {
    font-size: 2.5rem;
  }

  .profile p {
    font-size: 1.25rem;
  }

.social img {
    height: 40px;
    width: 40px;
    margin: 10px 15px 3px 0;
  }

  #skills li {
    height: 18vw;
    width: 18vw;
  }

  #skills li img {
    height: 8vw;
    width: 8vw;
    margin: 10px 0 3px 0;
  }

  .label,
  .value {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  .container {
    gap: 15px;
    padding-top: 20px;
  }

  .main-content {
    width: 95%;
  }

  .profile h2 {
    font-size: 1.5rem;
  }

  .profile p {
    font-size: 0.8rem;
  }

  .social img {
    height: 30px;
    width: 30px;
    margin: 10px 8px 3px 0;
  }

  #skills li {
    height: 22vw;
    width: 22vw;
  }

  #skills li img {
    height: 10vw;
    width: 10vw;
    margin: 10px 0 3px 0;
  }

  form div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  form div input {
    margin: -2px 0 0 0;
  }

  form input {
    margin-top: 10px;
  }
}
